* {
  padding: 0px;
  margin: 0px;
}

.navbar {
  width: 100%;
  height: 4.75rem;
  flex-shrink: 0;
  background-color: #094722;
}

.navbar li {
  list-style: none;
}

.navbar ul {
  display: inline-flex;
  gap: 2.25rem;
  align-items: flex-start;
  margin-right: 2.5rem;
}

.navbar li a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar li a:active {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.navbar img {
  width: 3.25rem;
  height: 3.25rem;
  flex-shrink: 0;
  margin-left: 6.06rem;
}

#hero {
  width: 100%;
  height: 43.75rem;
  background: #fff;
  display: flex;
}

.sec1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
  padding-left: 6.06rem;
  padding-top: 12.1rem;
}

#hero img {
  width: 31.75013rem;
  height: 31.8125rem;
  flex-shrink: 0;
  margin-top: 12.1rem;
  margin-left: 18rem;
}

.hello {
  color: #193242;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.43754rem;
}

.sec1 h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 4.8rem */
  letter-spacing: 0.06rem;
  width: 21.625rem;
}

.intro {
  color: #193242;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 2.15625rem */
  width: 26.5rem;
}

#skills {
  width: 100%;
  height: 43.75rem;
  flex-shrink: 0;
  background: #F2F7F5;
  display: inline-flex;
}

#skills h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 4.8rem */
  letter-spacing: 0.06rem;
  width: 21.625rem;
  padding-top: 6rem;
  margin-left: 6.06rem;
}

#skills p {
  color: #193242;
  font-family: Montserrat;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 2.3rem */
  width: 32.3125rem;
  margin-left: 6.06rem;
  padding-top: 4.94rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-left: 200px;
  margin-top: 150px;
}

.row1 {
  display: flex;
  gap: 2.5rem;
}

.box1 {
  width: 8.25rem;
  height: 8.25rem;
  flex-shrink: 0;
  background-color: #FFF;
}

.box1 img {
  width: 100%;
  height: 100%;
  padding: 17px;
}

.box2 a {
  text-decoration: none;
}

#css img {
  padding: 5px;
}

#js img {
  padding: 2px;
}

.main {
  margin-left: 80px;
  width: 90%;
}

.main h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 4.8rem */
  letter-spacing: 0.06rem;
  width: 21.625rem;
  padding-top: 6rem;
  margin-right: 2.06rem;
}

.lang {
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 1.2rem */
  letter-spacing: 0.3rem;
  width: 60.875rem;
  margin-top: 1.5rem;
}

.description {
  color: #193242;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 1.8rem */
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 60px;
  margin-top: 20px;
}

.box2 {
  padding: 48px;
  border: 1px solid #C8C8C8;
  border-radius: 24px;
  width: 100%;
  margin-top: 2.19rem;
}

.box2 h2 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 2.4rem */
  letter-spacing: 0.03rem;
}

.box {
  width: 100%;
  height: 40rem;
}

.box img {
  width: 100%;
  height: 100%;
}

.project-button {
  width: 100%;
  height: 4rem;
  border-radius: 0.875rem;
  border: 1px solid #094722;
  color: #094722;
  background-color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 1.8rem */
  letter-spacing: 0.0225rem
}

.contact {
  display: flex;
  gap: 8rem;
  width: 100%;
  height: 43.75rem;
  margin-top: 8.94rem;
  background: #F2F7F5;
}

.contact h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 4.8rem */
  letter-spacing: 0.06rem;
  width: 21.625rem;
  padding-top: 3.12rem;
  margin-left: 6.06rem;
}

.girl {
  width: 27.1875rem;
  height: 27.1875rem;
  margin-left: -25rem;
  margin-top: 12.12rem;
}

.girl img {
  width: 100%;
  height: 100%;
}

.sources {
  display: flex;
  width: 34.5rem;
  height: 21rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-shrink: 0;
  margin-top: 15rem;
}

.src {
  display: flex;
  width: 34.5rem;
  height: 5rem;
  padding: 1.0625rem 8.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.875rem;
  border: 1px solid #094722;
}

.toggle {
  display: none;
}

@media (max-width:768px) {
  .box1 {
    width: 5.25rem;
    height: 5.25rem;
    flex-shrink: 0;
    background-color: #FFF;
  }

  .box2 a {
    text-decoration: none;
  }

  #skills p {
    width: 21.875rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    margin-left: 0px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  #skills h1 {
    font-size: 1.5rem;
    padding-top: 4rem;
    line-height: 120%;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-left: 0px;
    width: 21.625rem;
  }

  #skills {
    height: 52rem;

  }

  .right {
    position: absolute;
    margin-left: 10px;
    margin-top: 27rem;
  }

  .hello {
    color: #193242;
    text-align: center;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20.43754rem;
  }

  .sec1 h1 {
    font-size: 3.5rem;
    text-align: center;
    width: 18.625rem;
  }

  .sec1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.375rem;
    padding-left: 2rem;
    padding-top: 5.1rem;
  }

  .intro {
    align-self: stretch;
    text-align: center;
    width: 20rem;
  }

  #hero {
    display: flex;
    flex-direction: column;
    height: 60rem;
  }

  #hero img {
    width: 21.8125rem;
    height: 21.8125rem;
    flex-shrink: 0;
    margin: 0px auto;
  }

  .main h1 {
    font-size: 1.5rem;
    padding-top: 4rem;
    line-height: 120%;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-left: 80px;
    width: 10.625rem;
  }
.contact h1{
    font-size: 1.5rem;
    padding-top: 4rem;
    line-height: 120%;
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-left: 100px;
    width: 10rem;
    
}
  .main {
    margin-left: 0px;
    width: 100%;
    padding: 10px;
  }

  .box2 {
    display: flex;
    width: 100%;
    height: 35rem;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;

  }



  .lang {
    color: #131313;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 1.2rem */
    margin-top: 1rem;
    align-self: stretch;
    width: 20.875rem;
  }

  .box2 h2 {
    font-size: 1.5rem;
    letter-spacing: 0.002rem;

  }

  .project-button {
    display: flex;
    padding: 1.125rem 1.5625rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.875rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.015rem;
    width: 170%;
  }


  .navbar img {
    margin-left: 1.5rem;
    position: absolute;
  }

  .navbar ul {
    display: none;
    margin-left: 0px;
  }

  .navbar li a {
    color: black;
    font-size: 1.4rem;

  }

  .navbar li a:active {
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
  }

  .girl {
    display: none;
  }

  .sources {
    width: 24.5rem;
    height: 21rem;
    flex-shrink: 0;
    margin-top: 10rem;
    margin-left:-395px;
    padding: 30px;
  }

  .src {
    display: flex;
    width: 100%;
    height: 3.4375rem;
    padding: 1.0625rem 5.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.875rem;
    border: 1px solid #094722;
    margin-left: 10px;
  }

  .toggle {
    width: 100%;
    display: flex;
    align-self: flex-end;
    align-items:flex-end;
    justify-content: center;
    display: initial;
    position: absolute;
    cursor: pointer;
    color: white;
  }
}