* {
  padding: 0px;
  margin: 0px;
}

.navbar {
  width: 100%;
  height: 4.3rem;
  flex-shrink: 0;
  background-color: #094722;
}

.navbar li {
  list-style: none;
}

.navbar ul {
  display: inline-flex;
  gap: 2.25rem;
  align-items: flex-start;
  margin-right: 2.5rem;
}

.navbar li a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar li a:active {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.navbar img {
  width: 3.25rem;
  height: 3.25rem;
  flex-shrink: 0;
  margin-left: 6.06rem;
}



/* hghfgfjyfhyf */
.front{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
}
.front1{
  flex: 50%;
  height: 600px;
  padding: 60px;
}
.front1 h1{
  color:#133F25;
  font-size: 65px;
  font-weight: 700;
}
.front1 p{
  color:#131313;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
}
#front2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0px;
}
/* gbgfcgnfcngfhgf */

/* skillsets */
.skill{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  background: #F2F7F5;
  height: 750px;
}
.box{
  flex: 50%;
  height: 700px;
  padding: 60px;
  /* background-color: red; */
}
.box h1{
  color:#133F25;
  font-size: 65px;
  font-weight: 700;
}
.box p{
  color:#131313;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  height: 500px;
  padding: 0px;
}
.skill-img{
  display: flex;
  flex-direction: row;
  gap: 70px;
  width: 100%;
  height: 150px;
  margin-top: 40px;
}
.skill-image{
  width: 160px;
  height: 150px;
  padding: 15px;
  background-color:#FFF;
}
.skill-image img{
  width: 100%;
  height: 100%;
}
/* skillsets end */




.main {
  width: 100%;
  padding: 50px;
}

.main h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06rem;
  margin-left: 80px;
}

.lang {
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  /* line-height: 120%; */
  /* 1.2rem */
  letter-spacing: 0.3rem;
  width: 60.875rem;
  margin-top: 1.5rem;
}

.description {
  color: #193242;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 1.8rem */
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 80px;
  padding-top: 50px;
}

.box2 {
  padding: 48px;
  border: 1px solid #C8C8C8;
  border-radius: 24px;
  width: 100%;
}
.img{
  width: 100%;
  height: 500px;
}
.img img{
  width: 100%;
  height: 100%;
}

.box2 h2 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 2.4rem */
  letter-spacing: 0.03rem;
}


.project-button {
  width: 100%;
  height: 4rem;
  border-radius: 0.875rem;
  border: 1px solid #094722;
  color: #094722;
  background-color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 1.8rem */
  letter-spacing: 0.0225rem
}

.contact {
  display:flex;
  gap: 8rem;
  width: 100%;
  height: 43.75rem;
  margin-top: 8.94rem;
  background: #F2F7F5;
}

.contact h1 {
  color: #133F25;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 4.8rem */
  letter-spacing: 0.06rem;
  width: 21.625rem;
  padding-top: 3.12rem;
  margin-left: 6.06rem;
}
#pdf{
  display: none;
}
#section{
  flex: 50%;
  padding: 60px;
  margin-left: -350px;
}
.girl {
 width: 100%;
 height: 550px;
 margin-top: 100px;

}

.girl img {
  width: 80%;
  height: 100%;
  margin-left: -250px;
}

.sources {
  display: flex;
  width: 34.5rem;
  height: 21rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-shrink: 0;
  margin-top: 15rem;
}

.src {
  display: flex;
  width: 34.5rem;
  height: 5rem;
  padding: 1.0625rem 8.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.875rem;
  border: 1px solid #094722;
}

@media(max-width:1430px){

  .skill{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 1200px;
  }
  #grid{
    margin-top: -400px;
  }
.lang{
  width: 30rem;
}
.girl{
  width: 35rem;
  height: 35rem;
  margin-left: 0px;
}
#pdf{
  display:inline-flex;
}
.src{
  width: 30rem;
}
}
@media(max-width:768px){
.front{
  display: flex;
  flex-direction: column;
}
.front1 p{
  text-align: center;
}
.front1 h1{
  text-align: center;
}
#front2{
  margin-top: -100px;
}
.skill{
  display: flex;
  flex-direction: column;
  height: 2700px;
  gap:100px;
}
#grid{
  height: 2700px;
  justify-content: center;
  margin-top: 150px;
  position: absolute;
}
#skills{
  height: 800px;
}
.box p{
  font-size: 25px;
}
.box{
  text-align: center;
}
.skill-img{
  display: flex;
  flex-direction:column;
  margin-top: 500px;
  align-items: center;
}
.lang{
  width: 20rem;
}
#pdf{
  display:inline-flex;
}
.girl{
  display: none;
}
.src i{
  font-size: 25px;
}
.src h2{
  font-size: 20px;
  width:max-content;
}
.src{
  width: 20rem;
  margin-left: -100px;
}
.contact h1{
  font-size: 2.5rem;
}
}
@media(max-width:425px){
  .image{
    width: 100%;
    height: 450px;
    padding: 40px;
    margin-left: -15px;
  }
  .image img{
    width: 100%;
    height: 100%;
  }
  .img{
    height: 300px;
    
  }
  .img img{
    object-fit:fill;
  }
  .box p{
    font-size: 20px;
  }
  .navbar ul{
    display: none;
  }
  .skill{
    height: 2800px;
  }
  #grid{
    margin-top:200px;
    position: absolute;
  }
  #skills{
    height: 500px;
  }
  .lang{
    width: 13rem;
  }
  .main h1{
    font-size: 3rem;
    font-weight: 900;
    margin-left: 0px;
  }
  #pdf{
    display:inline-flex;
  }
  .girl{
    display: none;
  }
  .src{
    width: 10rem;
  }
  
}
@media(min-width:1440px){
  .skill{
    gap: 200px;
  }
}
